<form method="POST" action="/landmarks">
  <h1>Create a new landmark:</h1>

  <label>Landmark name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">

  <label>Landmark year completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" value="Create New Landmark">

</form>
